span.aspire-menu-secondary-action-container {
    align-items: center;
    align-self: stretch;
    display: flex;
    grid-column: 4;
    grid-row: 1;
    justify-content: center;
}

::deep .aspire-menu-secondary-action {
    opacity: 0;
    visibility: hidden;
    padding: 0;
    width: 20px;
    min-width: 20px;
}

::deep .aspire-menu-secondary-action::part(control) {
    background-color: transparent;
}

::deep .aspire-menu-secondary-action:hover::part(control) {
    background-color: var(--colorNeutralBackground2Hover);
}

fluent-menu-item:hover > span[slot="end"] ::deep .aspire-menu-secondary-action,
::deep .aspire-menu-secondary-action.selected {
    opacity: 1;
    visibility: visible;
}

@media (hover: none) {
    fluent-menu-item > span[slot="end"] ::deep .aspire-menu-secondary-action {
        opacity: 1;
        visibility: visible;
    }
}
