::deep table.main-grid:not(:has(tr[row-state="empty-content"], tr[row-state="loading-content"])) {
    margin-bottom: 1px !important; /* make bottom table row border visible when scrolling */
}

::deep .trace-row-error,
::deep .trace-row-error fluent-button[appearance=lightweight]:not(:hover)::part(control) {
    background-color: var(--log-error);
}

.trace-id {
    color: var(--colorNeutralForeground3);
    padding-left: 0.5rem;
    font-size: 12px;
    font-weight: normal;
}

::deep .trace-name-container {
    display: flex;
    align-items: center;
    width: 100%;
}

::deep .trace-name-content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
    min-width: 0;
}

.trace-tag {
    display: flex;
    align-items: center;
    border: 1px solid var(--colorNeutralStroke1);
    padding: 2px 7px;
    font-size: 12px;
    background-color: var(--colorNeutralBackground1);
    color: var(--colorNeutralForeground1);
}

.trace-service-tag {
    border-left-width: 15px;
    margin-right: 7px;
}

::deep .duration-container {
    display: flex;
    align-items: center;
}

::deep .duration-progress {
    width: 48px;
    flex: 0 0 48px;
}

::deep .trace-duration {
    padding-left: 10px;
}
